.popup-wrapper {
    margin: 0;
    overflow: hidden;
    width: 300px;
}

.popup {
    min-height: 200px;
    box-sizing: border-box;

    font-family: sans-serif;
    color: #353847;
}

/* Header */
.header {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 20px;
    font-weight: bold;

    user-select: none;

    border-bottom: 1px solid rgba(0,0,0,.06);
}

.header img {
    height: 32px;
    width: 32px;

    user-select: none;
}

.toggle-text {
    color: #fff;
    font-size: 10px;
    user-select: none;
}

.on_off_box .on_off_text {
    font-size: 10px;
    margin-right: 7px;
    margin-top: 3px;
}

.on_off_box input[id="on_off_btn"] {
    display: none;
}

.on_off_box label {
    display: inline-block;
    width: 48px;
    height: 20px;
    cursor: pointer;
    position: relative;
    text-align: right;
    vertical-align: top;
    background-color: #5f647b;
}

/* pseudo checkbox shape*/
.on_off_box label::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    left: 2px;
    bottom: 2px;
    position: absolute;
    background-color: #fff;
    transition: all .4s ease;
}

input[id="on_off_btn"]:checked + label {
    background-color: #11a683;
}

input[id="on_off_btn"]:checked + label:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}

.on_off_box label.round {
    border-radius: 10px
}

.on_off_box label.round::before {
    border-radius: 50%
}

/* Core */
.core {
    height: 300px;
}

/* Footer */
.footer {
    height: 50px;
    border-top: 1px solid rgba(0,0,0,.06);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-tab {
    height: 100%;
    width: 50%;
    border-right: 1px solid  rgba(0,0,0,.06);

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-tab img {
    height: 40px;
    width: 40px;

    user-select: none;
}

.footer-tab:hover {
    background: rgba(0,0,0,.01);
}

.footer-tab:active {
    background: rgba(0, 0, 0, 0.02);
}
