.popup-wrapper {
    margin: 0;
    overflow: hidden;
    width: 300px;
}

.popup {
    min-height: 200px;
    box-sizing: border-box;

    font-family: sans-serif;
    color: #353847;
}

/* Header */
.header {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 20px;
    font-weight: bold;

    user-select: none;

    border-bottom: 1px solid rgba(0,0,0,.06);
}

.header img {
    height: 32px;
    width: 32px;

    user-select: none;
}

.header .toggle-input {
    display: none;
}

.header .toggle-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 48px;
    height: 20px;

    border-radius: 10px;
}

.toggle-btn.btn-on {
    background: #11a683;
}

.toggle-btn.btn-off {
    background: #5f647b;
}

.toggle-text {
    color: #fff;
    font-size: 10px;
    user-select: none;
}

.btn-on .toggle-text {
    margin-left: 7.5px;
    order: 1;
}

.btn-off .toggle-text {
    margin-right: 7px;
    order: 2;
}

.toggle-circle {
    width: 16px;
    height: 16px;
    margin-top: .4px;
    border-radius: 8px;
    background: #fff;
}

.btn-on .toggle-circle {
    margin-right: 3px;
    order: 2;
}

.btn-off .toggle-circle {
    margin-left: 3px;
    order: 1;
}

/* Core */
.core {
    height: 300px;
}

/* Footer */
.footer {
    height: 50px;
    border-top: 1px solid rgba(0,0,0,.06);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-tab {
    height: 100%;
    width: 50%;
    border-right: 1px solid  rgba(0,0,0,.06);

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-tab img {
    height: 40px;
    width: 40px;

    user-select: none;
}

.footer-tab:hover {
    background: rgba(0,0,0,.01);
}

.footer-tab:active {
    background: rgba(0, 0, 0, 0.02);
}